<% include partials/header %>
<h1>YelpCamp</h1>

<p>You gotta think like a tree. We can always carry this a step further. There's really no end to this. Each highlight must have it's own private shadow. Look around, look at what we have. Beauty is everywhere, you only have to look to see it.</p>

<p>See how easy it is to create a little tree right in your world. I really believe that if you practice enough you could paint the 'Mona Lisa' with a two-inch brush. Put it in, leave it alone. A beautiful little sunset.</p>

<p>Trees grow however makes them happy. Every highlight needs it's own personal shadow. Almost everything is going to happen for you automatically - you don't have to spend any time working or worrying. This painting comes right out of your heart. Poor old tree.</p>


<a href="/campgrounds">List All Campgrounds</a>
<br>
<a href="/campgrounds/new">Add new campground</a>

<% include partials/footer %>